@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  border-radius: 6px;
  font-family: 'Noto Sans KR', sans-serif;
}
.App {
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: absolute;
}